@model lab1.Models.Urodziny
@{
    ViewData["Title"] = "Urodziny Formularz";

}
<h1>Urodziny Formularz</h1>
<form>
    <input type="text" asp-for="Imie" />Imie
    <input type="number" asp-for="Rok" />Rok urodzenia
    <input type="submit" asp-for="Imie" />I
</form>
